@tailwind base;
@tailwind components;
@tailwind utilities;

.d-block {
    display: block !important;
}

.multiline-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.font-cursive {
    font-family: cursive;
}